.product-list-item{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  align-items: center;
  border: 1px solid black;
  margin: 0;

  &__action-btn{
    width: 100px;
    height: 30px;
  }

  &__product {
    height: 100%;
    text-align: center;
    border: 1px solid black;
    display: flex;
    align-items:center;
    padding-left: 10px;
  }
}